.listHorizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #b6d8cf;
}

.selectBox {
    border: 1px solid #55aaff;
    background-color: rgba(75, 160, 255, 0.3);
    position: fixed;
}
