body {
  font-family: "adelle-sans", "Roboto", "sans-serif";
}

.col {

}

a {
  color: black;
  text-decoration: underline;
}

.project-name {
  font-weight: bold;
}

.content-header {
  border-bottom: 2px solid black;
}

.main-header {
  border-bottom: 2px solid black;
}

.img-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}